.addUser {
  border: 3px solid #fbff00b5;
  height: 200px;
  padding:  10px;
}
.displayUser {
  margin-top: 20px;
  border: 3px solid #ff0055b5;
  height: 200px;
  padding:  10px;
  overflow: scroll;
}

.addUser-input{
  width: 250px;
  height: 40px;
}
.addUser-btn{
  margin-top: 10px;
  width: 258px;
  height: 40px;
}